<h1 class="ms-3 mb-3 mt-3">My Brain Bookings</h1>
<div id="text-container-bookings" class="ms-3 mb-5">
  <p> Hey, <%= current_user.first_name %> ! Good to see you again ! Here your bookings, enjoy your brains !</p>
</div>
<% case @user.bookings.size %>
<% when 0 %>
  <p class="ms-3"> You don't have any booking yet ! Please find all or brains here :</p>
  <% link_to brains_path do %>
    <%= image_tag("brain.jpg", alt: "Logo") %>
  <% end %>
<% when 1 %>
<div class="d-flex flex-column w-50 justify-content-between mb-5 ms-3">
  <% booking = @bookings.find_by(user_id:"#{current_user.id}") %>
  <h4 class="mb-1"><%= link_to booking.brain.name, brain_path(booking.brain_id),  class:"text-decoration-none list-group-item flex-column align-items-start" %></h4>
      <p class="mb-1">Start date: <strong><%= booking.start_date %></strong></p>
      <p class="mb-1">End date: <strong><%= booking.end_date %></strong></p>
      <p class="mb-1">Status: <strong><%= booking.status %></strong></p>
      <small class="text-muted">Price: <%= booking.brain.price %> SimFlouz/heure</small>
</div>
<% else %>
<div class="list-group-flush">
  <% @bookings.where(user_id:"#{current_user.id}").each do |booking| %>
    <%= link_to  booking_path(booking), class:"text-decoration-none list-group-item flex-column align-items-start" do %>
    <div class="d-flex flex-column w-50 justify-content-between mb-5 ms-3">
        <h4 class="mb-1"><%= booking.brain.name %></h4>
        <p class="mb-1">Start date: <strong><%= booking.start_date %></strong></p>
        <p class="mb-1">End date: <strong><%= booking.end_date %></strong></p>
        <small class="text-muted">Price: <%= booking.brain.price %> SimFlouz/heure</small>
    </div>
  <% end %>
  <% end %>
</div>
<% end %>
