<div class="brains_index">
  <h2>Tonight, I'm gonna </h2>
</div>

<div class="cards-brains">
  <% @brains.each do |brain| %>
    <%= link_to brain_path(brain), class:'card-brain' do %>
      <%= image_tag "https://source.unsplash.com/random/400x400/?color", class:"brain-img" %>
      <div class="card-brain-info">
        <h2><%= brain.name %></h2>
        <h5><em><%= brain.category%></em></h5>
        <p><%= brain.price %> SimFlouz/hour</p>
      </div>
    <% end %>
  <% end %>
</div>
