<div class="brains_index">
  <h2>Nos cerveaux à la Une</h2>
</div>

<div class="cards-brains">
  <% @brains.each do |brain| %>
    <div class="card-brain">
      <%#  image %>
      <div class="card-brain-info">
        <h2><%= brain.name %></h2>
        <h5><em><%= brain.category%></em></h5>
        <p><%= brain.description %></p>
        <p><%= brain.price %> SimFlouz/heure</p>
      </div>
      <button type="button" class="btn-gradient">
        <%= link_to "Try me ! 🧠", brain_path(brain), class:"text-decoration-none text-black" %>
      </button>
    </div>
  <% end %>
</div>
