<div class="card-brain-show">
  <%= image_tag "https://source.unsplash.com/random/1200x1200/?fruit", class:"brain-img" %>
  <div class="card-brain-info-show">
    <h2><%= @brain.name %></h2>
    <h5><em><%= @brain.category%></em></h5>
    <p><%= @brain.description %></p>
    <p id="price"><%= @brain.price %> SimFlouz per day</p>
      <% if current_user.id == @brain.user_id %>
      <%= link_to edit_brain_path(@brain), style: "text-decoration:none; margin-right: 7px; position:absolute; bottom:192px" do%>
        <i class="fa-solid fa-pen fa-xl"></i>
      <% end %>
      <%= link_to brain_path(@brain), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"}, style: "position:absolute; bottom:192px; right:625px" do %>
        <i class="fa-solid fa-trash fa-xl"></i>
        <% end %>
      <% end %>

  <%# <div data-controller="toggle" class="mt-5">
    <i class="fa-regular fa-calendar-days fa-2xl" data-action="click->toggle#book" id="calendar"></i>
    <%# <button class="btn-gradient text-decoration-none text-black" data-action="click->toggle#book">Book me! 🧠</button> %>
    <%# <div data-toggle-target="toggleableElement" class="d-none" data-toggle-value="<%= @booking_date.to_json %>
      <%# <%= render "/shared/formbooking", booking: @booking %>
    <%# </div> %>
  <%# </div> %>
  <%# </div> %>
<%# </div> %>

  <div data-controller="toggle" class="mt-5">
    <i class="fa-regular fa-calendar-days fa-2xl" id="calendar" data-action="click->toggle#book"></i>
    <div data-toggle-target="toggleableElement" class="d-none">
      <%= simple_form_for([@brain, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker"} } %>
        <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker"} } %>
        <%= f.submit "Book"%>
    <% end %>
    </div>
  </div>
  </div>
</div>


<div class="card-booking">
  <div class="card-booking-info">
    <p>Hey <%= current_user.first_name %> !</p>
    <% if @booking_info.empty? %>
      <p>You don't have any booking for the moment</p>
    <% else %>
      <% @booking_info.each do |key, booking| %>
        <p>Start date: <%= booking[:start_date] %></p>
        <p>End date: <%= booking[:end_date] %></p>
        <p>Status: <%= booking[:status] %></p>
        <% if booking[:user] %>
          <p>User: <%= booking[:user][:first_name] %> <%= booking[:user][:last_name] %></p>
          <p>Email: <%= booking[:user][:email] %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
