<%= render '/shared/banner' %>
<div class="card-brain">
<%#  image %>
<div class="card-brain-info">
  <h2><%= @brain.name %></h2>
  <p><%= @brain.description %></p>
  <p><%= @brain.price %></p>
</div>

<%# <button type="button" class="btn-gradient">
  <%# <%= link_to "Book me! 🧠", new_booking_path, class:"text-decoration-none text-white" %>
<%# </button> %>


<% if current_user.id == @brain.user_id %>
  <%= link_to "Update me! 🧠", edit_brain_path(@brain), class:"text-decoration-none text-white btn-gradient" %>
  <%= link_to "Delete me! 🧠", brain_path(@brain), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class:"text-decoration-none text-white btn-gradient" %>
<% end %>
